.offer__wrapper {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1fr, 1fr, 1fr);
    gap: 20px;
  }
}

.offer__title {
  display: block;
  position: relative;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    margin-bottom: 28px;
  }

  &::after {
    content: "Товар недели";
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $brand-fill-main;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 35px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
      left: calc(100% - 100px);
      top: 7px;
      right: 26px;
      line-height: 17px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      content: "Товар недели";
      padding: 0;
      margin: 0;
      left: -141px;
      right: calc(100% + 50px);
    }
  }
}

.offer__desc {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  padding-right: 10px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 109px;
  }
}

.details__row {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    background-color: $frame;
    width: 100%;
    height: 1px;
  }

}

.details {
  font-size: 15px;
  line-height: 20px;
  border-spacing: 0 18px;
  width: 100%;


  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    width: 292px;
  }
}

.offer__details-wrap {
  color: $main-text;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin-top: -20px;
    padding-right: 20px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.details__characteristic {
  text-align: left;
  font-weight: normal;
  padding-right: 0px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    width: 96px;
  }
}

.offer__img-wrap {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 4;
    grid-column: 4 / 7;
    margin-bottom: -4px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 638px;
    grid-column: 3 / 7;
    margin-top: -10px;
    margin-left: 60px;
  }
}

.offer__image {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    margin: 137px 0 0 -9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -10px;
  }
}

.offer__bottom-wrap {
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    padding: 0;
    padding-top: 45px;
  }
}

.offer__price {
  text-align: center;
  font-weight: 700;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.offer__button {
  width: 100%;
}
