.page {
  height: 100%;
<<<<<<< HEAD
  // max-width: 1150px;
=======
>>>>>>> d70da4b3d4af8b909cab91f88d0cbfd6526d0fd3
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto;

  &--catalog {
    font-size: 15px;
    line-height: 30px;
  }
<<<<<<< HEAD

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}

.page__body {
  // max-width: 1150px;
  // box-sizing: border-box;
=======
}

.page__body {
  max-width: 1150px;
  box-sizing: border-box;
>>>>>>> d70da4b3d4af8b909cab91f88d0cbfd6526d0fd3
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
<<<<<<< HEAD
  // margin: 0 auto;
=======
  margin: 0 auto;
>>>>>>> d70da4b3d4af8b909cab91f88d0cbfd6526d0fd3
  padding: 0;
  color: $headers;

  @media (min-width: $tablet-width) {
<<<<<<< HEAD
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
=======
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
>>>>>>> d70da4b3d4af8b909cab91f88d0cbfd6526d0fd3
  }
}

.wrapper {
  width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
<<<<<<< HEAD
  box-sizing: border-box;

=======
>>>>>>> d70da4b3d4af8b909cab91f88d0cbfd6526d0fd3

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

.section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--index {
    padding-top: 71px;

    @media (min-width: $tablet-width) {
      padding: 91px 50px 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 57px;
      padding: 91px 200px 0;
    }
  }

  &--catalog {
    margin-top: 0px;

    @media (min-width: $tablet-width) {
      margin-top: -35px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -66px;
    }
  }

  &--form {
    margin-top: -3px;

    @media (min-width: $tablet-width) {
      margin-top: -47px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -68px;
    }
  }
}

.main-title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-main {
  display: block;
  margin: 0 auto;
  width: 100%;

  &--offer {
    margin-bottom: 72px;

    @media (min-width: $tablet-width) {
      margin-bottom: 124px;

      @media (min-width: $desktop-width) {
        margin-bottom: 159px;
        padding-left: 225px;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
  }
}

.page-main__offer {
  margin-bottom: 72px;

  @media (min-width: $tablet-width) {
    margin-bottom: 124px;

    @media (min-width: $desktop-width) {
      margin-bottom: 159px;
      padding-left: 225px;
    }
  }
}

.page-main__advantages {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    padding: 0 225px;
  }
}

.page-main__contacts {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -45px;
  }
}

.page-main__reviews {
  margin-bottom: 87px;

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 192px;
  }
}

.page-main__catalog {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.page-main__video {
  margin-bottom: 91px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 102px;
  }
}

.page-main__video {
  margin-top: 00px;
}
