//colors
$main-text: #444444;
$headers: #000000;
$white: #ffffff;
$brand-fill-main: #63d1bb;
$brand-fill-hover: #59d5bc;
$brand-fill-dark: #149080;
$brand-dark-hover: #46c1ae;
$brand-stroke: #62d1ba;
$svg-on-fill: #149080;
$footer-elements-hover: #149080;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$font: '"Open Sans", Arial, sans-serif';
