$main-text: #444444;
$headers: #000000;
$white: #ffffff;
$brand-fill-main: #63d1bb;
$brand-fill-hover: #59d5bc;
$brand-fill-dark: #56c3b2;
$brand-dark-hover: #46c1ae;
$brand-stroke: #62d1ba;
$svg-on-fill: #149080;
$footer-elements-hover: #149080;
$fill-main: #f1f1f1;
$frame: #ececec;
$social: #231f20;
$modal: #c6c6c6;
$lines: rgba(0, 0, 0, 0.1);

$mobile-width: 321px;
$mobile-width-only: 320px;
$mobile-tablet-width: 550px;
$tablet-width: 768px;
$desktop-width: 1150px;
